<div class="container">
  <article>
    <div class="contents">
      <div class="row">
        <div class="col-md-6">
          <ul class="row_A">
            <li class="col-sm-6 col-md-4"><img src ="achieve.png" class="image1"></img></li>
            <li class="col-sm-6 col-md-offset-2 col-md-6"><img src ="comment.png" class="image2"></img></li>
            <li class="col-sm-6 col-md-5"><img src ="girls.png" class="image3"></img></li>
            <li class="col-sm-6 col-md-offset-2 col-md-5"><img src ="mails.png" class="image4"></img></li>
          </ul>
        </div>
        <div class="col-md-6">
          <div class="topic">
            <ul class="row_B">
              <li class="col-md-12">投稿　:　新しくブログを投稿する</li>
              <li class="col-md-12">編集　:　ブログを編集する</li>
              <li class="col-md-12">削除　:　ブログを削除する</li>
              <li class="col-md-12">確認　:　ブログを確認する</li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </article>
</div>