<!DOCTYPE html>
<html>
  <head>
    <title>Rails2</title>
    <%= csrf_meta_tags %>
    <meta name="viewport" content="width=device-width">  
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  
  <nav class="navbar navbar-default">
    <div class="btn-group">
      <button type="button" class="btn btn-default">Bootstrap</button>
      <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        <span class="caret"></span>
        <span class="sr-only">Toggle Dropdown</span>
      </button>
      <ul class="dropdown-menu">
        <li><a href="/top">トップ</a></li>
        <li><a href="/blogs">blogs</a></li>
      </ul>
    </div>
  </nav>
  <body>
    <div class="yields">
    <%= yield %>
    </div>
    <footer class="footer">
      <p>songtaekeun</p>
    </footer>
  </body>
</html>
